.imagen_cruz{
    height: 40px;
    width: 55px;
}

.nomb_establecimiento{
    font-size: 40px;
    padding: 1rem;
    font-weight: bold;
}

.descrip{
    font-size: 20px;
}

.botones_estab{
    display: flex;
    justify-content: center;
}

.boton1y2{
    padding: 5px;
}


/*DESKTOP*/
@media screen and (min-width: 1024px){
    .boton1y2{
        padding: 5px;
        width: 300px;
        height: 80px;
    }
    .btn_1y2{
        width: 200px;
        height: 50px;
    }
}