.imagen_cruz{
    height: 40px;
    width: 55px;
}

.nomb_ubicacion{
    font-size: 40px;
    padding: 1rem;
    font-weight: bold;
}

.detalle{
    font-size: 20px;
}

.espacio{
    padding-top: 30px;
}